# ========================
# Maven / Java build
# ========================
target/
*.log

# Build artifacts
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.xz

# ========================
# Weasis específico
# ========================
weasis-native/
build-dist/

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# Crash logs
# ========================
hs_err*.log

# ========================
# IDEs
# ========================
.idea/
.vscode/
*.iml

# ========================
# Mac temp folders
# ========================
_*/

# ========================
# Snap
# ========================
weasis_*.snap


.flattened-pom*.xml
*.flattened-pom.xml
